* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


header {
    background-color: #4D7B46;
    color: white;
    padding-block: 16px;
    position: sticky;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

header h1 {
    font-size: 40px;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-left: 18px;
    font-weight: bold;
    font-size: 18px;
}

#sobre .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 40px;
}


#sobre .container img {
    width: 300px;
    margin-right: 16px;
}

#sobre .container h2 {
    font-style: italic;
    margin-bottom: 16px;
    font-size: 32px;
    color: #333333;

}

#sobre .container p {
    text-align: justify;
}

#contato {
    margin-top: 40px;
}

#contato h3 {
    margin-block: 25px;
    text-align: center;
    font-size: 25px;
    font-style: #333333;
}

#contato .container form {
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    box-shadow: #707070;
}

#contato .container form input {
    margin-block: 8px;
    font-size: 18px;
    border: none;
    outline: transparent;
    border: solid 1px color#333333
}

#contato .container form input [type=file] {
    font-size: 40px;
}

#contato .container form textarea {
    height: 100px;
    resize: none;
}

#contato .container form button {
    border: none;
    padding: 7px;
    background-color: #4D7B46;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#onde-estamos {
    margin-top: 40px;
    overflow-x: hidden;

}


#onde-estamos iframe {
    width: 100vw;

}

footer {
    background-color: #4D7B46;
    padding-top: 24px;
    color: white;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .container ion-icon {
    font-size: 27px;
    color: #f6f5f5;
    border-radius: 12px;
}

footer .container ion-icon:hover {
    color: #333333;
}

footer .container ul li {
    list-style: none;
}

footer p {
    text-align: center;
    padding-block: 32px;
}

footer .container button {
    background-color: #4D7B46;
    border: none;
}

@media screen and (max-width:1024px) {

    .container {
        width: 100%;

    }

    #contato .container form {
        padding: 8px;
        border: none;
    }

    #sobre p {
        padding-inline: 16px;
    }

    header .container {
        display: block;
    }

    header h1 {
        text-align: center;
        margin-bottom: 16px;
    }

    #sobre .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: 40px;
    }

    #sobre .container img {
        width: 100%;
    }

}

@media screen and (max-width: 720px) {
    #contato .container form input[type=file] {
        font-size: 8px;
        padding: 8px;
    }
}